---
import "../styles/global.css";
import Header from "../components/Header.astro";

const {
  title = "Vaughan Boys Lawn Maintenance",
  description = "Vaughan Boys Lawn Maintenance.",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>

  <body>
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>

<style is:global>
  :root {
    --header-offset: 70px;
  }

  body {
    margin: 0;
    font-family: system-ui, sans-serif;
    background: #000;
    color: #fff;
  }

  main {
    margin-top: var(--header-offset);
  }
</style>